// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

// Variables
@import 'variables';

// Bootstrap - using node_modules path alias
@import 'bootstrap/scss/bootstrap';
